{% extends 'layout.twig' %}

{% block head %}
	{{ parent() }}
	
	<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
	<script>
		function initialize() {
			var map_canvas = document.getElementById('map-canvas');
			var map_options = {
				center: new google.maps.LatLng(36.51444662193379, -6.280659341123973),
				zoom: 15,
				mapTypeId: google.maps.MapTypeId.ROADMAP
				}
			var map = new google.maps.Map(map_canvas, map_options)
	
			var marcador = new google.maps.Marker({
											  	position: new google.maps.LatLng(36.51444662193379, -6.280659341123973),
											  	map: map
											});



		}
		google.maps.event.addDomListener(window, 'load', initialize);
	</script>
    	
{% endblock %}

{% block contenido %}
	{{page.body}}

	{{ simpleform('contact') }}

	<div id="map-canvas" style="width:500px;height:380px;">
    </div>
    <script>
    
    </script>

{% endblock %}