{% extends 'base.twig' %}

{% block layout %}

{{ parent() }}

<div class="large-8 columns">
	{% block contenido %}
	{% endblock %}
</div>
	
<div class="large-4 columns">
	{% block barra_lateral %}
		{% setcontent bloques_laterales = "bloqueslaterales"%}
		{% include 'bloques_laterales.twig' with  bloques_laterales %}
	{% endblock %}
</div>

{% endblock %}